#head{
	width: 100%;
	height: 100%;
	background-color: #333333;
	padding-bottom: 80px;
}
#des{
	float: left;
	width: 50%;
	height: 350%;
	background-color: #33cc66;
}
#bg{
	position: relative;
	top: -20px; 
}
#bar{
	position: relative;
	top: -80px;
	width: 100%;
	height: 150%;
	background-color: #333333;
      /*opacity:0.4;
      filter:alpha(opacity=40);*/
      color: white;
    }
    .mySlides {
     display:none;
   }
   body{
     background-size: cover;
   }

   a{color:#58bff6;text-decoration: none;}
   a:hover{color:#aaa; }
   .pull-right{float: right;}
   .pull-left{float: left;}
   .clear-fix{clear:both;}
   div.logo{text-align: center; margin: 20px 20px 30px 20px; fill: #566375;}
   div.logo svg{
     width:180px;
     height:100px;
   }
   .logo-active{fill: #44aacc !important;}
   #formWrapper{
     background: rgba(0,0,0,.2); 
     width:100%; 
     height:100%; 
     position: absolute; 
     top:0; 
     left:0;
     transition:all .3s ease;}
     .darken-bg{background: rgba(0,0,0,.5) !important; transition:all .3s ease;}

     div#form{
      position: absolute;
      width:360px;
      height:320px;
      height:auto;
      background-color: #fff;
      margin:auto;
      border-radius: 5px;
      padding:20px;
      left:50%;
      top:50%;
      margin-left:-180px;
      margin-top:-200px;
    }
    div.form-item{position: relative; display: block; margin-bottom: 20px;}
    input{transition: all .2s ease;}
    input.form-style{
      color:#8a8a8a;
      display: block;
      width: 90%;
      height: 44px;
      padding: 5px 5%;
      border:1px solid #ccc;
      -moz-border-radius: 27px;
      -webkit-border-radius: 27px;
      border-radius: 27px;
      -moz-background-clip: padding;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      font-family:'HelveticaNeue','Arial', sans-serif;
      font-size: 105%;
      letter-spacing: .8px;
    }
    div.form-item .form-style:focus{outline: none; border:1px solid #58bff6; color:#58bff6; }
    div.form-item p.formLabel {
      position: absolute;
      left:26px;
      top:2px;
      transition:all .4s ease;
      color:#bbb;}
      .formTop{top:-22px !important; left:26px; background-color: #fff; padding:0 5px; font-size: 14px; color:#58bff6 !important;}
      .formStatus{color:#8a8a8a !important;}
      input[type="submit"].login{
       float:right;
       width: 112px;
       height: 37px;
       -moz-border-radius: 19px;
       -webkit-border-radius: 19px;
       border-radius: 19px;
       -moz-background-clip: padding;
       -webkit-background-clip: padding-box;
       background-clip: padding-box;
       background-color: #55b1df;
       border:1px solid #55b1df;
       border:none;
       color: #fff;
       font-weight: bold;
     }
     input[type="submit"].login:hover{
       background-color: #fff;
       border:1px solid #55b1df;
       color:#55b1df; 
       cursor:pointer;
     }
     input[type="submit"].login:focus{
       outline: none;
     }
     #slide{
       position: relative;
       left: 20px;
       top: 10px;
     }
     .kiri{
       width: 30%;
       height: 100%;
       border-style: dashed;
       border:2px;
       padding-left: 2%;
       padding-top: 2%;
       padding-bottom: 5%;
       margin-left: 2%;
       margin-top: -7%;
     }
     .kanan{
       width: 90%;
       background-color: #fffff0;
       margin-left: 4.5%;
       padding-right: 2%;
       padding-left: -10%;
       padding-bottom: 3%;
       padding-top: 2%;

     }
    #btn{
     height: 40px;
     width: 80px;
     border-radius: 5px;
     background-color: #9999FF;
   }
   #design{
    width: 70%;
    height: 100%;
    margin-left: 7%;
    margin-right: 70%;
    text-align: justify;
    line-height: 200%;
    font-family: times new roman;
    font-size: 13pt;
    margin-top: 100px;
  }
  #strk{
    color: #3399cc;
    margin-left: -10px;
  }
  #design h2,h1{
    color: #339999;
  }
  #design-right{
    width: 20%;
    margin-left: 80%;
  }
  #design-right div{
    height: 300%;
    color: white;
    text-align: center;
    padding: 10%;
    background-color: maroon;
  }
  #det{
    width: 70%;
    margin-left: 7%;
    margin-right: 70%;
    font-style: bold;

    line-height: 400%;
    font-family: century gothic;
    font-size: 20pt;
  }